@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: #898d8f;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

h3 {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

#list {
  border: 1px solid black;
}

.main-section {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.scores-display {
  display: inline-block;
  vertical-align: top;
}

.heading {
  display: flex;
  gap: 1rem;
}

#btn-refresh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leader-board {
  display: inline-block;
  vertical-align: top;
}

.availableScore {
  display: flex;
  justify-content: space-between;
  gap: 7.5rem;
  align-items: center;
  padding: 2 15px;
}

.forminput {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1rem;
  padding: 1.2rem 2.1rem;
  border-radius: 0.2rem;
  background-color: rgb(194, 170, 170);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

button {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  height: 38px;
  justify-content: center;
  font-size: 18px;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #828388 0 3px 7px inset;
  transform: translateY(2px);
}

#btn {
  float: right;
}
